*,::after,::before {
box-sizing:border-box
}

.container {
margin-left:auto;
margin-right:auto;
padding-left:15px;
padding-right:15px;
width:100%
}

.h3,.h4,.h6,h3,h4,h6 {
color:inherit;
font-family:inherit;
font-weight:500;
line-height:1.2;
margin-bottom:.5rem
}

.h3,h3 {
font-size:1.75rem
}

.h4,h4 {
font-size:1.5rem
}

.h6,h6 {
font-size:1rem
}

.small,small {
font-size:80%;
font-weight:400
}

::-webkit-file-upload-button {
-webkit-appearance:button;
font:;
font-family:inherit;
font-style:normal;
font-variant:normal;
font-weight:normal
}

[hidden] {
display:none!important
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
border-style:none;
padding:0
}

[type=reset],[type=submit],button,html [type=button] {
-webkit-appearance:button
}

a {
-webkit-text-decoration-skip:objects;
background-color:transparent;
color:#007bff;
text-decoration:none
}

a:hover {
color:#0056b3;
text-decoration:underline
}

a:not([href]):not([tabindex]),a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover {
color:inherit;
text-decoration:none
}

a:not([href]):not([tabindex]):focus {
outline:0
}

b,strong {
font-weight:bolder
}

button {
border-radius:0;
text-transform:none
}

button,input {
overflow:visible
}

button,input,textarea {
font-family:inherit;
font-size:inherit;
line-height:inherit;
margin:0
}

button:focus {
outline:1px dotted;
outline:5px auto -webkit-focus-ring-color
}

fieldset {
border:0;
margin:0;
min-width:0;
padding:0
}

footer,header,nav {
display:block
}

h3,h4,h6 {
margin-bottom:.5rem;
margin-top:0
}

html {
-ms-overflow-style:scrollbar;
-ms-text-size-adjust:100%;
-webkit-tap-highlight-color:transparent;
-webkit-text-size-adjust:100%;
font-family:sans-serif;
line-height:1.15
}

img {
border-style:none;
vertical-align:middle
}

input[type=date] {
-webkit-appearance:listbox
}

input[type=radio] {
box-sizing:border-box;
padding:0
}

label {
display:inline-block;
margin-bottom:.5rem
}

p {
margin-bottom:1rem;
margin-top:0
}

small {
font-size:80%
}

table {
border-collapse:collapse
}

textarea {
overflow:auto;
resize:vertical
}

th {
text-align:inherit
}

@media (min-width:576px) {
.container {
max-width:540px
}
}

@media (min-width:768px) {
.container {
max-width:720px
}
}

@media (min-width:992px) {
.container {
max-width:960px
}
}

@media (min-width:1200px) {
.container {
max-width:1140px
}
}

.col-12 {
-ms-flex:0 0 100%;
flex:0 0 100%;
max-width:100%
}

.col-12,.col-md-10,.col-md-12,.col-sm-12 {
min-height:1px;
padding-left:15px;
padding-right:15px;
position:relative;
width:100%
}

.row {
-ms-flex-wrap:wrap;
display:-ms-flexbox;
display:flex;
flex-wrap:wrap;
margin-left:-15px;
margin-right:-15px
}

@media (min-width:576px) {
.col-sm-12 {
-ms-flex:0 0 100%;
flex:0 0 100%;
max-width:100%
}
}

@media (min-width:768px) {
.col-md-10 {
-ms-flex:0 0 83.333333%;
flex:0 0 83.333333%;
max-width:83.333333%
}

.col-md-12 {
-ms-flex:0 0 100%;
flex:0 0 100%;
max-width:100%
}
}

.form-control {
background-clip:padding-box;
background-color:#fff;
border:1px solid #ced4da;
border-radius:.25rem;
color:#495057;
display:block;
font-size:1rem;
height:calc(2.25rem + 2px);
line-height:1.5;
padding:.375rem .75rem;
transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
width:100%
}

.table {
background-color:transparent;
margin-bottom:1rem;
width:100%
}

.table .table {
background-color:#fff
}

.table .thead-dark th {
background-color:#212529;
border-color:#32383e;
color:#fff
}

.table tbody+tbody {
border-top:2px solid #dee2e6
}

.table td,.table th {
border-top:1px solid #dee2e6;
padding:.75rem;
vertical-align:top
}

.table thead th {
border-bottom:2px solid #dee2e6;
vertical-align:bottom
}

.table-bordered thead td,.table-bordered thead th {
border-bottom-width:2px
}

.table-bordered,.table-bordered td,.table-bordered th {
border:1px solid #dee2e6
}

.table-hover tbody tr:hover {
background-color:rgba(0,0,0,.075)
}

.table-responsive {
-ms-overflow-style:-ms-autohiding-scrollbar;
-webkit-overflow-scrolling:touch;
display:block;
overflow-x:auto;
width:100%
}

.table-responsive>.table-bordered {
border:0
}

@media screen and (prefers-reduced-motion:reduce) {
.form-control {
transition:none
}
}

.btn {
-moz-user-select:none;
-ms-user-select:none;
-webkit-user-select:none;
border:1px solid transparent;
border-radius:.25rem;
display:inline-block;
font-size:1rem;
font-weight:400;
line-height:1.5;
padding:.375rem .75rem;
text-align:center;
transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
user-select:none;
vertical-align:middle;
white-space:nowrap
}

.form-control.is-invalid {
border-color:#dc3545
}

.form-control.is-invalid:focus {
border-color:#dc3545;
box-shadow:0 0 0 .2rem rgba(220,53,69,.25)
}

.form-control.is-invalid~.invalid-feedback {
display:block
}

.form-control::-ms-expand {
background-color:transparent;
border:0
}

.form-control::-webkit-input-placeholder,.form-control::-moz-placeholder,.form-control:-ms-input-placeholder,.form-control::-ms-input-placeholder,.form-control::placeholder {
color:#6c757d;
opacity:1
}

.form-control:disabled,.form-control[readonly] {
background-color:#e9ecef;
opacity:1
}

.form-control:focus {
background-color:#fff;
border-color:#80bdff;
box-shadow:0 0 0 .2rem rgba(0,123,255,.25);
color:#495057;
outline:0
}

.form-group {
margin-bottom:1rem
}

.invalid-feedback {
color:#dc3545;
display:none;
font-size:80%;
margin-top:.25rem;
width:100%
}

textarea.form-control {
height:auto
}

@media screen and (prefers-reduced-motion:reduce) {
.btn {
transition:none
}
}

.alert {
border:1px solid transparent;
border-radius:.25rem;
margin-bottom:1rem;
padding:.75rem 1.25rem;
position:relative
}

.alert-danger {
background-color:#f8d7da;
border-color:#f5c6cb;
color:#721c24
}

.alert-success {
background-color:#d4edda;
border-color:#c3e6cb;
color:#155724
}

.alert-warning {
background-color:#fff3cd;
border-color:#ffeeba;
color:#856404
}

.btn-danger,.btn-danger.disabled,.btn-danger:disabled {
background-color:#dc3545;
border-color:#dc3545;
color:#fff
}

.btn-danger:focus,.btn-danger:not(:disabled):not(.disabled):active:focus {
box-shadow:0 0 0 .2rem rgba(220,53,69,.5)
}

.btn-danger:hover {
background-color:#c82333;
border-color:#bd2130;
color:#fff
}

.btn-danger:not(:disabled):not(.disabled):active {
background-color:#bd2130;
border-color:#b21f2d;
color:#fff
}

.btn-link {
background-color:transparent;
color:#007bff;
font-weight:400
}

.btn-link.disabled,.btn-link:disabled {
color:#6c757d;
pointer-events:none
}

.btn-link:focus {
border-color:transparent;
box-shadow:none;
text-decoration:underline
}

.btn-link:hover {
background-color:transparent;
border-color:transparent;
color:#0056b3;
text-decoration:underline
}

.btn-outline-primary {
background-color:transparent;
background-image:none;
border-color:#007bff;
color:#007bff
}

.btn-outline-primary.disabled,.btn-outline-primary:disabled {
background-color:transparent;
color:#007bff
}

.btn-primary,.btn-primary.disabled,.btn-primary:disabled,.btn-outline-primary:hover,.btn-outline-primary:not(:disabled):not(.disabled):active {
background-color:#007bff;
border-color:#007bff;
color:#fff
}

.btn-primary:focus,.btn-primary:not(:disabled):not(.disabled):active:focus,.btn-outline-primary:focus,.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
box-shadow:0 0 0 .2rem rgba(0,123,255,.5)
}

.btn-primary:hover {
background-color:#0069d9;
border-color:#0062cc;
color:#fff
}

.btn-primary:not(:disabled):not(.disabled):active {
background-color:#0062cc;
border-color:#005cbf;
color:#fff
}

.btn-secondary,.btn-secondary.disabled,.btn-secondary:disabled {
background-color:#6c757d;
border-color:#6c757d;
color:#fff
}

.btn-secondary:focus,.btn-secondary:not(:disabled):not(.disabled):active:focus {
box-shadow:0 0 0 .2rem rgba(108,117,125,.5)
}

.btn-secondary:hover {
background-color:#5a6268;
border-color:#545b62;
color:#fff
}

.btn-secondary:not(:disabled):not(.disabled):active {
background-color:#545b62;
border-color:#4e555b;
color:#fff
}

.btn-sm {
border-radius:.2rem;
font-size:.875rem;
line-height:1.5;
padding:.25rem .5rem
}

.btn.disabled,.btn:disabled {
opacity:.65
}

.btn:focus {
box-shadow:0 0 0 .2rem rgba(0,123,255,.25);
outline:0
}

.btn:focus,.btn:hover {
text-decoration:none
}

.btn:not(:disabled):not(.disabled) {
cursor:pointer
}

.card {
-ms-flex-direction:column;
background-clip:border-box;
background-color:#fff;
border:1px solid rgba(0,0,0,.125);
border-radius:.25rem;
display:-ms-flexbox;
display:flex;
flex-direction:column;
min-width:0;
position:relative;
word-wrap:break-word
}

.card-body {
-ms-flex:1 1 auto;
flex:1 1 auto;
padding:1.25rem
}

.nav {
-ms-flex-wrap:wrap;
display:-ms-flexbox;
display:flex;
flex-wrap:wrap;
list-style:none;
margin-bottom:0;
padding-left:0
}

.navbar {
-ms-flex-align:center;
-ms-flex-pack:justify;
-ms-flex-wrap:wrap;
align-items:center;
display:-ms-flexbox;
display:flex;
flex-wrap:wrap;
justify-content:space-between;
padding:.5rem 1rem;
position:relative
}

.navbar>.container {
-ms-flex-align:center;
-ms-flex-pack:justify;
-ms-flex-wrap:wrap;
align-items:center;
display:-ms-flexbox;
display:flex;
flex-wrap:wrap;
justify-content:space-between
}

a.btn.disabled,fieldset:disabled a.btn {
pointer-events:none
}

@-webkit-keyframes progress-bar-stripes {
from {
background-position:1rem 0
}

to {
background-position:0 0
}
}

@keyframes progress-bar-stripes {
from {
background-position:1rem 0
}

to {
background-position:0 0
}
}

.align-items-center {
-ms-flex-align:center!important;
align-items:center!important
}

.bg-white {
background-color:#fff!important
}

.border-bottom {
border-bottom:1px solid #dee2e6!important
}

.border-primary {
border-color:#007bff!important
}

.d-flex {
display:-ms-flexbox!important;
display:flex!important
}

.flex-column {
-ms-flex-direction:column!important;
flex-direction:column!important
}

.justify-content-center {
-ms-flex-pack:center!important;
justify-content:center!important
}

.mb-0 {
margin-bottom:0!important
}

.mb-1 {
margin-bottom:.25rem!important
}

.media {
-ms-flex-align:start;
align-items:flex-start;
display:-ms-flexbox;
display:flex
}

.media-body {
-ms-flex:1;
flex:1
}

.ml-2 {
margin-left:.5rem!important
}

.mr-2 {
margin-right:.5rem!important
}

.mr-3 {
margin-right:1rem!important
}

.mt-3,.my-3 {
margin-top:1rem!important
}

.my-2 {
margin-bottom:.5rem!important;
margin-top:.5rem!important
}

.my-3 {
margin-bottom:1rem!important
}

.p-0 {
padding:0!important
}

.p-1 {
padding:.25rem!important
}

.p-3 {
padding:1rem!important
}

.pb-2 {
padding-bottom:.5rem!important
}

.pb-3 {
padding-bottom:1rem!important
}

.position-relative {
position:relative!important
}

.pt-3 {
padding-top:1rem!important
}

.rounded {
border-radius:.25rem!important
}

.rounded-circle {
border-radius:50%!important
}

.sr-only {
border:0;
clip:rect(0,0,0,0);
height:1px;
overflow:hidden;
padding:0;
position:absolute;
white-space:nowrap;
width:1px
}

.text-black-50 {
color:rgba(0,0,0,.5)!important
}

.text-center {
text-align:center!important
}

.text-info {
color:#17a2b8!important
}

.text-primary {
color:#007bff!important
}

.text-secondary,.text-muted {
color:#6c757d!important
}

.text-truncate {
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap
}

a.text-info:focus,a.text-info:hover {
color:#117a8b!important
}

a.text-primary:focus,a.text-primary:hover {
color:#0062cc!important
}

a.text-secondary:focus,a.text-secondary:hover {
color:#545b62!important
}

@media print {
*,::after,::before {
box-shadow:none!important;
text-shadow:none!important
}

.navbar {
display:none
}

.table {
border-collapse:collapse!important
}

.table .thead-dark th {
border-color:#dee2e6;
color:inherit
}

.table td,.table th {
background-color:#fff!important
}

.table-bordered td,.table-bordered th {
border:1px solid #dee2e6!important
}

a:not(.btn) {
text-decoration:underline
}

body,.container {
min-width:992px!important
}

h3 {
page-break-after:avoid
}

h3,p {
orphans:3;
widows:3
}

img,tr {
page-break-inside:avoid
}

thead {
display:table-header-group
}
}

#logo {
display:block;
height:auto;
margin:0 0 20px;
margin-left:auto;
margin-right:auto;
padding-top:15px;
width:200px
}

.alert-custom {
border-radius:0;
left:0;
line-height:0;
opacity:70%;
position:fixed;
right:0;
text-align:center;
top:0;
width:100%;
z-index:9999
}

.border-bottom {
border-bottom:1px solid #e5e5e5
}

.box-shadow {
box-shadow:0 .25rem .75rem rgba(0,0,0,.05)
}

.btn-group-xs>.btn,.btn-xs {
border-radius:3px;
font-size:12px;
line-height:1.5;
padding:1px 5px
}

.card {
background-color:#fff;
border:none;
border-radius:10px;
box-shadow:0 .25rem .75rem rgba(0,0,0,.05);
margin-bottom:50px;
position:relative
}

.card .card-body,.card .card-footer,.card .card-header {
background-color:transparent;
padding:20px
}

.card .card-header {
-ms-grid-row-align:center;
align-items:center;
align-self:center;
border-bottom-color:#f9f9f9;
display:flex;
line-height:30px;
padding:10px 25px;
width:100%
}

.card-header {
background-color:rgba(0,0,0,.03);
border-bottom:1px solid rgba(0,0,0,.125);
margin-bottom:0;
padding:.75rem 1.25rem
}

.card-header:first-child {
border-radius:calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.center {
text-align:center
}

.footer {
background-color:red;
bottom:0;
color:#fff;
left:0;
position:fixed;
text-align:center;
width:100%
}

.post_wrapper {
margin-left:auto;
margin-right:auto;
padding:10px;
width:80%
}

.text-black-50 {
color:rgba(0,0,0,.5)
}

.wrapper {
margin-left:auto;
margin-right:auto;
padding:10px;
width:500px
}

a {
color:#4083c6;
text-decoration:none
}

a img {
border:0
}

body {
background-color:#fff;
color:#212529;
font:9pt/1.5 "Lucida Grande","Lucida Sans",Verdana,Tahoma,sans-serif;
margin:3% 3% 20px;
padding:0
}

fieldset label {
cursor:pointer;
filter:grayscale(100%)
}

fieldset label:hover,input[type=radio]:checked+label {
filter:grayscale(0)
}

h2 {
color:#444;
letter-spacing:-1px
}

h3 {
border-bottom:1px dotted #ddd;
color:#444;
font-size:120%;
font-weight:400;
text-transform:uppercase
}

h3:first-letter {
font-weight:700
}

input[type=file],input[type=password],input[type=text],textarea {
border:1px solid #ddd;
color:#444;
font:10pt "Lucida Grande","Lucida Sans",Verdana,Tahoma,sans-serif;
outline-width:0;
padding:4px
}

p {
margin:4px 0 8px;
padding:0
}

table {
font:9pt "Lucida Grande","Lucida Sans",Verdana,Tahoma,sans-serif
}

tbody tr:hover {
cursor:pointer
}

td,th,tr {
vertical-align:top
}